
section#main {
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: left top;
	padding: 0;
	width: 6000px;
}

div#layer_tree {
	background-image: url(tree.png);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: left top;
}

div#layer_main {
	background-image: url(main.png);
	background-repeat: no-repeat;
	background-position: left top;
}

div.cbox {
	float:left;
	height: 500px;
	width: 2000px;
}

div#layer_grass {
	height:100px;
	width:6000px;
	clear: both;
	background-image: url(grass.png);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: left top;
}