/* 覆盖主CSS属性 */
body {
	background-color: #dddddd;
}
section#main {
	background-color: #dddddd;
}

/* 加载时隐藏 */
.hide_on_load {
	display: none;
}

/* 主页幻灯片样式 */
div#main_wrap {
	height: 600px;
	position: relative;
}
img.slideshow {
	display: block;
	position: absolute;
	width: 1000px;
	height: 600px;
	top: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
div#slideshow_change {
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
}
div#slideshow_change {
	position: absolute;
	bottom: 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
}
div#slideshow_change a {
	display: inline-block;
	width: 196px;
	height: 25px;
	margin: 0 2px;
	padding-top: 100px;
	text-align: right;
	text-decoration: none;
	color: #f8f8f8;
}
a.slideshow_thumb.inshow {
	box-shadow: 0 0 5px 8px #ffffff inset;
}

aside#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 125px;
	box-shadow: none;
}
aside#sidebar > ul > li {
	background-color: rgba(51,51,51,0.8);
	box-shadow: none;
}
aside#sidebar > ul > li > header {
	background-color: rgba(0,0,0,0.5);
}
div#news_feed li {
	list-style: none;
	margin-bottom: 10px;
}

