/* 旧浏览器兼容 */
article, aside, footer, header, legend, nav, section { display: block; }
time { display: inline; }

/* 通用样式 */
* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei","Wenquanyi MicroHei";
}
body {
	width: 100%;
	background-color: #333;
}
img {
	border: none;
}
a {
	color: lightskyblue;
}
a:hover {
	color: white;
}
.left {
	float: left;
}
.clear_left {
	clear: left;
}
.right {
	float: right;
}
.clear_right {
	clear: right;
}
.clear_both {
	clear: both;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}

/* 头部样式 */
header#main_header {
	width: 100%;
	height: 80px;
	background-color: #333;
	position: fixed;
	top: 0;
	z-index: 99999;
}
nav#main_nav {
	width: 1000px;
	margin: auto;
}
nav#main_nav ul.nav_items > li {
	width: 100px;
	height: 80px;
	font-size: 20px;
	text-align: center;
	float: left;
	list-style: none;
}
nav#main_nav ul.nav_items > li:hover{
	background: #000;
}
nav#main_nav ul.nav_items li.logo {
	width: 160px;
	height: 80px;
	padding: 0;
}
nav#main_nav ul.nav_items li a {
	display: block;
	padding: 25px 5px;
	width: 90px;
	height: 30px;
	text-decoration: none;
	color: #f8f8f8;
}
nav#main_nav ul.nav_items li.logo a {
	padding: 0;
}
nav#main_nav ul.dropdown {
	display: none;
}
nav#main_nav ul.dropdown li {
	list-style: none;
	width: 100px;
	height: 40px;
	background-color: #333;
	background-color: rgba(0,0,0,0.6);
}
nav#main_nav ul.dropdown li:hover {
	background: #000;
}
nav#main_nav ul.dropdown li a {
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px 0;
	text-decoration: none;
	color: #f8f8f8;
}

div#search_bar {
	font-size: 20px;
	height: 30px;
	margin: 20px 0;
	padding: 5px;
	float: right;
	background-color: white;
}
div#search_bar label {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input#s {
	font-size: 20px;
	border: none;
	width: 0;
	display: none;
	border-bottom: 2px solid black;
	outline: none;
}

/* 主体样式 */
section#main {
	background-color: #f8f8f8;
	margin-top: 80px;
}
div#main_wrap {
	width: 1000px;
	margin: auto;
}
.content_wrap {
	width: 580px;
	+width: 658px;
	_width: 658px;
	margin: 10px;
	padding: 40px;
	background-color: white;
	box-shadow: 2px 2px 2px 2px #ccc;
}
.content_wrap h1 {
	font-size: 35px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}
.content_wrap h2 {
	font-size: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.content_wrap p {
	margin: 10px 0;
	text-indent: 2em;
}

/* 边栏样式 */
aside#sidebar {
	width: 300px;
}
aside#sidebar > ul > li {
	list-style: none;
	margin: 10px;
	width:280px;
	color: #f8f8f8;
	background-color: #7f7f7f;
	box-shadow: 2px 2px 2px 2px #ccc;
}
aside#sidebar > ul > li > header {
	width: 260px;
	padding: 10px;
	background-color: black;
	font-size: 16px;
}
aside#sidebar > ul > li > div {
	width: 260px;
	padding: 10px;
	font-size: 14px;
}


/* 脚部样式 */
footer#main_footer {
	width: 100%;
	height: 100%;
}
div#footer_wrap {
	width: 990px;
	margin: auto;
	padding: 5px;
	color: #f8f8f8;
	font-size: 12px;
}
footer#main_footer p{
	margin: 2px 0;
}

/* 其他样式 */
div#top_button {
	width: 80px;
	height: 80px;
	position: fixed;
	right: 0;
	bottom: 100px;
	background-image: url(images/icons.png);
	opacity: 0.5;
}
div#top_button:hover {
	opacity: 0.8
}
